<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/Home.css' %}">
</head>
<body>
    <div class="nav">
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'view_customers' %}">View Customers</a></li>
            <li><a href="{% url 'view_customers' %}">Transfer Money</a></li>
        </ul>
        
            
        <h3>Banking App</h3>
    </div>
    

    <div class="container">
    
        <img src = "{% static 'images/banking.jpeg' %}">
       
    </div>
</body>
</html>